.hero {
  height: 600px;
  position: relative;
  overflow: hidden;
}

/* overlay gelap + teks */
.hero-overlay {
  pointer-events: none; /* supaya tidak mengganggu klik tombol */
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 700;
}

.hero-content h2 {
  font-size: 1.5rem;
  margin-top: 15px;
}

.hero-content .btn {
  padding: 10px 25px;
  border-radius: 5px;
}

/* Gambar carousel proporsional */
.hero .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
